* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#nav {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
#nav-start {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}
#nav-start ul {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
}
#nav-start ul li:hover {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.container_info {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./asset/background.png);
}

.banner {
    position: relative;
    margin: auto;
    max-width: 780px;
    padding-top: 12vh;
}

.screenshot-left {
    position: absolute;
    width: auto;
    max-width: 500px;
    max-height: 60vh;
    bottom: 15px;
    left: 0;
    box-shadow: 0 6px 26px rgba(0, 0, 0, .1);
}

.screenshot-middle {
    position: relative;
    width: auto;
    max-width: 500px;
    max-height: 70vh;
    z-index: 2;
    box-shadow: 0 6px 26px rgba(0, 0, 0, .1);
}

.screenshot-right {
    position: absolute;
    width: auto;
    max-width: 500px;
    max-height: 60vh;
    bottom: 15px;
    right: 0;
    box-shadow: 0 6px 26px rgba(0, 0, 0, .1);
}

.banner_bg {
    position: relative;
    text-align: center;
}

.container_action_btn {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
mark {
    background-color: #f5f7ff;
    padding: 0 5px;
    border-radius: 5px;
}

#nav-top-more:hover {
    background-color: rgba(30, 30, 30, 0.1);
    border-radius: 12px;
}
@media (max-width: 768px) {
    .container_action_btn {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #nav-start {
        width: 70%;
    }
    #nav-top-more {
        margin-inline-start: 10px;
    }
    #nav-top-get {
        margin-inline-end: 10px;
    }
}